In [2]:
import pandas as pd
import os

In [8]:
results_yolo = pd.read_csv("../../pytorch-yolov3/yolo_results_pascal_train.csv",names=["img","yolo"])
print(results_yolo.shape)
results_yolo.head()

(4446, 2)

              img                                           yolo
0  image_2124.jpg                           ['person', 'person']
1  image_4941.jpg                                        ['dog']
2  image_3275.jpg                                        ['cat']
3   image_786.jpg  ['cup', 'bottle', 'sofa', 'person', 'person']
4  image_3873.jpg                                       ['bird']

In [9]:
show_tell_attend_df = pd.read_csv("./pascal_train_show_attend_tell.csv")
print(show_tell_attend_df.shape)
show_tell_attend_df.head()

(5011, 5)

,Unnamed: 0,Unnamed: 0.1,img,show_tell,show_attend_tell
0,0,0,image_1.jpg,"<start> a living room with a couch , table , a...","['<start>', 'a', 'living', 'room', 'filled', '..."
1,1,1,image_10.jpg,<start> a man wearing a hat and a hat on a mot...,"['<start>', 'a', 'man', 'riding', 'a', 'bike',..."
2,2,2,image_100.jpg,<start> a group of people in a room with a man...,"['<start>', 'a', 'group', 'of', 'people', 'sta..."
3,3,3,image_1000.jpg,<start> a bus that is parked on a street . <end>,"['<start>', 'a', 'bus', 'is', 'parked', 'on', ..."
4,4,4,image_1001.jpg,<start> a kitchen with a table and a table wit...,"['<start>', 'a', 'kitchen', 'with', 'a', 'gree..."

In [10]:
pd.merge(show_tell_attend_df,results_yolo,on="img",how='outer').to_csv("pascal_train_yolo_show_attend_tell.csv")

In [11]:
final_df = pd.read_csv("pascal_train_yolo_show_attend_tell.csv")

In [12]:
final_df.shape

(5011, 7)